* {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: hsl(217, 54%, 11%);
    color: hsl(0, 0%, 100%)
}

.main-card {
    background-color: hsl(216, 50%, 16%);
    width: 300px;
    margin: 100px auto;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-img img {
    width: 255px;
    margin-top: 1em;
    border-radius: 0.5em;
}

.card-description {
    width: 255px;
}

.card-description p {
    font-weight: 300;
    font-size: 1rem;
    color: hsl(215, 51%, 70%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}